@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<section>
    <div class="mb-5">
        <h1 class="text-center">Login Page</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <form asp-action="Login" asp-controller="Account" method="post">
                <input name="returnUrl" type="hidden" value="@Model.ExternalLogins.ReturnUrl">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="name@example.com">
                    <div>
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" placeholder="Password">
                    <div>
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="d-flex">
                    <button class="btn btn-primary col" type="submit" style="margin: 5px;">Submit</button>
                    <button class="btn btn-danger col" type="reset" style="margin: 5px;">Reset</button>
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            </form>
            <div class="text-center">
                <a asp-controller="Account" asp-action="ForgotPassword" title="Forgot password?">Forgot password?</a>
                <hr />
                <span>OR</span><br />
                New member?
                <a asp-controller="Account" asp-action="Signup" class="" title="Create an account">Create an account</a>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <h2 class="text-center mt-3 mb-1">External Login</h2>
            <form asp-action="ExternalLogin"
                  asp-controller="Account"
                  asp-route-returnUrl="@Model.ExternalLogins.ReturnUrl"
                  method="post">
                @foreach (var provider in Model.ExternalLogins.Providers)
                {
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary"
                                type="submit"
                                name="provider"
                                value="@provider.Name"
                                style="margin: 5px;">
                            @provider.Name.ToUpper()
                        </button>
                    </div>
                }
            </form>
        </div>
    </div>

</section>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

